build*/
debug*/
release/
debug/
CMakeFiles/
*.swp
*~
.cproject
.project
.directory
.settings/
.DS_Store
_site/
_config_local.yml
.pydevproject
python-wrapper/*.cpp
python-wrapper/*.so
python-wrapper/*.pxd
python-wrapper/*.c
python-wrapper/cython_debug/*
python-wrapper/compilingString.txt
python-wrapper/exportVariables
*vtu
*.log
*.pyc
*.dat
.idea/
